<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.trabit.reportApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trabit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".login.Login">
        </activity>
        <activity android:name=".user.profile.ProfileActivity"></activity>
        <activity android:name="de.trabit.directionsApp.DirectionSelectionActivity" />
        <activity android:name="de.trabit.directionsApp.MapActivity" />
        <activity android:name="de.trabit.directionsApp.DirectionsActivity" />
        <activity android:name=".comments.CommentsActivity" />
        <activity android:name=".reports.add.ThirdAddActivity" />
        <activity android:name=".reports.add.SecondAddActivity" />
        <activity android:name=".reports.add.FirstAddActivity" />
        <activity android:name=".changelocation.SearchActivity" />
        <activity android:name=".reports.display.OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>